# ─── Python ───────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyd
*.pyo

# ─── Virtual environment ──────────────────────────────────────────────────────
.venv/

# ─── Build artifacts ──────────────────────────────────────────────────────────
*.egg-info/
dist/
build/

# ─── uv ───────────────────────────────────────────────────────────────────────

# ─── IDE ──────────────────────────────────────────────────────────────────────
.idea/
.vscode/
*.iws
*.iml
*.ipr

# ─── CI/CD ────────────────────────────────────────────────────────────────────
.gitlab-ci.yml

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db